<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\PROYDOS.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
<connectionStrings>
    <add name="DESARROLLO" connectionString="Password=123;User ID=jonl;Data Source=XE" providerName="MSDAORA.1"/>
    <add name="DESARROLLO1" connectionString="Password=jlopez79$;User ID=jonl;Data Source=DESA.CR.PROMERICA.FI.CR" providerName="MSDAORA.1"/>
    <add name="PRODUCCION" connectionString="Password=exwd85;User ID=webapp;Data Source=GALILEO" providerName="MSDAORA.1" />
  </connectionStrings>
  <appSettings>
    <add key="SonPruebas" value="TRUE" />
    <!-- TRUE SE CONECTA A DESA, FALSE A GALILEO -->
    <add key="Puerto" value="4000" />
  </appSettings> 
</configuration>